@model List<OnlineBikeStore.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jQuery</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
</head>
<body>
    <i class="fas fa-angle-down"></i>
    <div class="parent">
        <p style="color:red;">Hello</p>
        <div>
            <p style="color:green"> World</p>
        </div>
        <input type="text" />
    </div>


    <div>
        <input type="checkbox" value="off" id="cb1" />
        <input type="checkbox" value="off" id="cb2" />
        <input type="checkbox" value="off" id="cb3" />
        <input type="checkbox" value="off" id="cb4" />
    </div>
    <a href="@Url.Action("DownloadStudentDetails")" class="btn btn-primary">
        Download PDF
    </a>

    <div id="partialViewContainer">
        @Html.Partial("getStudents")
    </div>

    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            var text = $(".parent p").text();

            var textColor = $("p")
                .eq(1)
                .css('color')

            var parentWidth = $(".parent").css('border', '1px solid red').width(500);

            var inputText = $("input").css('padding', '10px').attr('placeholder', 'Enter Name');

            var newElement = $("<input>", {
                type: "button",
                value: "Submit",
            }).css({
                "color": 'blue',
                'padding': '6px 10px'
            })
            newElement.appendTo(parentWidth)

            //alert(text);
        })

        $(document).ready(function () {
            $("i").on("click", function () {
                $(this).toggleClass("fa-angle-down fa-angle-up");
                $(this).css("color", "red")
            })

            onLoad();

            $("input[type=checkbox]").change(function () {
                var arr = [];
                $("input[type=checkbox]").each(function (index) {
                    arr[index] = $(this).is(':checked');
                })

                console.log(arr)
            })
            function onLoad() {
                $.ajax({
                    url: '@Url.Action("getStudents", "Test")',
                    type: 'GET',
                    success: function (response) {
                    $('#partialViewContainer').html(response);
                    },
                    error: function () {
                    console.log('Error loading partial view.');
                    }
                });
            }
        })


    </script>
</body>
</html>
