
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Fractional-Star-Rating-jsRapStar/jsRapStar.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>    
    <div id="example"  value="4"></div>




    <br />
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script src="~/Fractional-Star-Rating-jsRapStar/jsRapStar.js"></script>
    <script>
        $('#example').jsRapStar({
            onClick: function (score) {
                $("#ratingValue").val(score)
            },
            length: 5
        });



    </script>
</body>
</html>
