
body {
    font-family: Arial, sans-serif;
}

.bg-dark-2 {
    background-color: #003c75;
}

:root {
    --cr-fresh: #4abdac;
    --cr-fresh-hover: #3a9983;
    --cr-fresh-hover-light: #6bc8c1
    ;
    --cr-vermillion: #fc4a1a;
    --cr-vermillion-hover: #d93b15;
    --cr-vermillion-hover-light: #ff6942;

    --cr-sunshine: #f7b733;
    --cr-sunshine-hover: #d79b2d;
    --cr-sunshine-hover-light: #f9c456;

    --cr-clean: #dfdce3;
    --cr-clean-hover: #c7c4c9;
    --cr-clean-hover-light: #f0eef3;

    --cr-sky-blue-dark: #45a29e;
    --cr-sky-blue-dark-hover: #36827b;
    --cr-sky-blue-dark-hover-light: #62bab6;
}
.btn-cr-grey {
    color: white;
    background-color: var(--cr-clean);
    border-radius: 20px;
}

.btn-cr-cyan {
    color: white;
    background-color: var(--cr-fresh);
    border-radius: 20px;
}

.btn-cr-cyan-dark {
    color: white;
    background-color: var(--cr-sky-blue-dark);
    border-radius: 20px;
}

.btn-cr-red {
    color: white;
    background-color: var(--cr-vermillion);
    border-radius: 20px;
}

.btn-cr-yellow {
    color: white;
    background-color: var(--cr-sunshine);
    border-radius: 20px;
}

/*Hovers*/
.btn-cr-grey:hover {
    color: white;
    background-color: var(--cr-clean-hover-light);
}

.btn-cr-cyan:hover {
    color: white;
    background-color: var(--cr-fresh-hover-light);
}

.btn-cr-cyan-dark:hover {
    color: white;
    background-color: var(--cr-sky-blue-dark-hover-light);
}

.btn-cr-red:hover {
    color: white;
    background-color: var(--cr-vermillion-hover-light);
}

.btn-cr-yellow:hover {
    color: white;
    background-color: var(--cr-sunshine-hover-light);
}

.box-shadow-1 {
    box-shadow: rgb(0 0 0) 0px 2px 6px -4px;
}

.box-shadow-outset {
    box-shadow: rgb(0 0 0) 0px 2px 6px -4px;
}
.box-shadow-inset {
    box-shadow: inset 0px 2px 6px -4px;
}
/*dropdown style end*/

/*user profile*/


/*personal information partial view styling*/
.label{
    font-size:14px;
    color:grey;
    
}