
body {
    font-family: Arial, sans-serif;
}

.bg-dark-2 {
    background-color: #003c75;
}

:root {
    --cr-fresh: #4abdac;
    --cr-fresh-hover: #3a9983;
    --cr-fresh-hover-light: #6bc8c1
    ;
    --cr-vermillion: #fc4a1a;
    --cr-vermillion-hover: #d93b15;
    --cr-vermillion-hover-light: #ff6942;

    --cr-sunshine: #f7b733;
    --cr-sunshine-hover: #d79b2d;
    --cr-sunshine-hover-light: #f9c456;

    --cr-clean: #dfdce3;
    --cr-clean-hover: #c7c4c9;
    --cr-clean-hover-light: #f0eef3;

    --cr-sky-blue-dark: #45a29e;
    --cr-sky-blue-dark-hover: #36827b;
    --cr-sky-blue-dark-hover-light: #62bab6;
}
.btn-cr-grey {
    color: white;
    background-color: var(--cr-clean);
    border-radius: 20px;
}

.btn-cr-cyan {
    color: white;
    background-color: var(--cr-fresh);
    border-radius: 20px;
}

.btn-cr-cyan-dark {
    color: white;
    background-color: var(--cr-sky-blue-dark);
    border-radius: 20px;
}

.btn-cr-red {
    color: white;
    background-color: var(--cr-vermillion);
    border-radius: 20px;
}

.btn-cr-yellow {
    color: white;
    background-color: var(--cr-sunshine);
    border-radius: 20px;
}

/*Hovers*/
.btn-cr-grey:hover {
    color: white;
    background-color: var(--cr-clean-hover-light);
}

.btn-cr-cyan:hover {
    color: white;
    background-color: var(--cr-fresh-hover-light);
}

.btn-cr-cyan-dark:hover {
    color: white;
    background-color: var(--cr-sky-blue-dark-hover-light);
}

.btn-cr-red:hover {
    color: white;
    background-color: var(--cr-vermillion-hover-light);
}

.btn-cr-yellow:hover {
    color: white;
    background-color: var(--cr-sunshine-hover-light);
}

.box-shadow-1 {
    box-shadow: rgb(0 0 0) 0px 2px 6px -4px;
}

.box-shadow-outset {
    box-shadow: rgb(0 0 0) 0px 2px 6px -4px;
}
.box-shadow-inset {
    box-shadow: inset 0px 2px 6px -4px;
}
/*dropdown style start*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

.dropdown {
    
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;    
    text-align:start;
}

    .dropdown-content a {
        color: black;
        padding: 8px 12px;
        text-decoration: none;
        display: block;
        transition: transform .2s ease, box-shadow 0.2s ease, background-color .2s ease, color 0.2s ease, border-radius .2s ease;
    }

        .dropdown-content a:hover {
            border-radius: 10px;
            color: white;
            background-color: var(--cr-vermillion);
            transform: scale(1.05);
            box-shadow: black 0px 2px 7px -4px;
        }
   
    .dropdown:hover .dropdown-content {
        display: block;
    }

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



.dropdown-content {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}
/*dropdown style end*/

/*user profile*/


/*personal information partial view styling*/
.label{
    font-size:14px;
    color:grey;
    
}