/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Common elements style*/
a{
    text-decoration:none;
}

.text-style1{
    font-size:13px;
    color:#808080;
    margin:0;
}
.content-box {
    display: flex;
    padding: 15px;
    margin: 10px 0px;
    background-color: white;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -5px;
    transition: transform 0.1s, box-shadow 0.1s;
}

.scale-up-hover:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 8px -7px;
}

.scale-down-hover:hover {
    cursor: pointer;
    transform: scale(0.99);
    box-shadow: 0px 0px 3px -3px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.img-container-size1 {
    width: 150px;
    height: 150px;
}

.img-container-size2 {
    width: 100px;
    min-height: 100px;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.c-pointer {
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
}
    .c-pointer:hover {
        transform: scale(0.98);        
        box-shadow: 0px 1px 3px -2px;
    }


.dl-horizontal dt {
    white-space: normal;
}



hr{
    padding:0;
    margin:0;
}
/*default home page style*/

.cl1 {
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
   /* box-shadow: 0px 0px 5px -3px;*/
    background-color: white;
}

.heading {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    color: black;
}

.product-row {
    display: flex;
    overflow: auto;    
}

    .product-row::-webkit-scrollbar {
        display: none;
    }

.product-card {
    margin: 15px;
    border: 1px solid #d6d6d6;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}



.card1-imgdiv {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 150px;
    height: 150px;
}

.card1-img {
    max-width: 150px;
    max-height: 150px;
}

.card1-text {
    width: 140px;
    color: black;
}

.card1-text-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}

@media(max-width:568px) {
    .product-row{
      padding:0px;
  }
    .heading {
        margin: 7px;
        font-size: 20px;
    }

    .product-card {
        margin: 4px;
        padding: 5px;
    }

    .card1-imgdiv {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 80px;
        height: 80px;
    }

    .card1-img {
        max-width: 80px;
        max-height: 80px;
    }

    .card1-text {
        width: 70px;
        color: black;
    }
    .card1-text-1 {
        font-size:12px;
    }
    .card1-text-2 {
        font-size: 10px;
    }
}

.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: #7ce6d0;
    color: white;
    padding: 10px 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

    .notification.show {
        display: block;
        transform: translateX(-50%) translateY(50px);
        opacity: 1;
    }
