.parent {
    background-color: #f1f3f6;
    width: 100%;
}

.content-div {
    width: 80%;
}

.r-box {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px #a0a0a08c;
}

.place-order-div {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.place-order-btn {
    padding: 8px 14px 8px 14px;
    background-color: coral;
    border: none;
    color: white;
}

@media(max-width: 568px){
    .content-div {
        width: 95%;
    }
}