body {
    background-color: #f2f2f2;
    font-family: sans-serif,
}
nav {
    background-color:#f9f9f9;
    border-radius:40px;
    margin: 10px;
}


.quicksand-medium {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550; /* Medium weight */
    font-style: normal;
}
.nav-body {
   
   
    margin: 10px auto;
}

.search-form {
    display: flex;
    align-content: center;
    justify-content: center;
}

.search-input {
    border: 1px solid #d14bff;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
}

    .search-input:focus {
        outline: none;
    }


.search-button {
    margin-left: 10px;
    background-color: var(--cr-vermillion);
    border-radius: 20px;
}

    .search-button:hover {
        background-color: #db4117;
        border-color: #db4117;
    }

.split-btn {
    height: 30px;
    padding: 0px;
    margin: 0 10px;
    border-radius: 20px;
}

.login-btn {
    background-color: var(--cr-fresh);
    border-radius: 20px;
}

    .login-btn .login-text {
        color: white;
        padding: 0 5px 0 0;
    }

    .login-btn .login-icon {
        padding-left: 5px;
        border-left: 0px solid #ffffff;
    }

    .login-btn:hover {
        background-color: var(--cr-sky-blue-dark);
        border-color: var(--cr-sky-blue-dark);
    }

.cart-btn {
    margin-left: 10px;
    background-color: var(--cr-fresh);
    border-radius: 20px;
}

    .cart-btn:hover {
        background-color: #db4117;
        border-color: #db4117;
    }

.categories {
    display: flex;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    overflow-x: auto;
}

.ecatdiv {
    padding: 10px;
}

.cat-img {
    align-content: center;
    margin: 0 5px 0 5px;
    height: 40px;
}

.t12 {
    font-size: 12px;
    text-align: center;
}

.c1img1 {
    max-height: 50px;
}

.ecatdiv {
    padding: 5px;
}

@media (max-width: 568px) {
    .categories {
        display: flex;
        overflow-x: auto;
        padding: 5px 10px 5px 10px;
        justify-content: normal;
    }

    .cat-mob::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    .t12 {
        font-size: 12px;
        text-align: center;
    }
}
