
.login-img {
    max-width: 90%;
    height: auto;
    border-radius:5px 0px 0px 5px;
}
.card {
    box-shadow: 0px 0px 5px -5px;
    
}
.login-form-btn {
    width: 100%;
    padding: 8px;
    background-color: #4abdac;
    color: white;
    border-radius: 5px;
}
    .login-form-btn:hover {
        background-color: #4bbcba;
        color: white;
    }