
.img-box {
    border: 1px solid #f0f0f0;
    width: 400px;
    height: 400px
}

.view-body {
    
}
.grid {
    padding: 12px;
}
.content {
    background-color: white;
    position: relative;
  margin-top:17px;
}

.imgDiv {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-height: 350px;
    height: auto;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #dedede;
    border-radius:5px;
    justify-content: center;
}

.btnsDiv {
}

.image {
    max-width: 100%;
    height: auto;
}
.heart-style {
    position: absolute;
    margin: 14px;
    cursor:pointer;
}
.red-heart{
    color:red;
}

.p-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 0 1px 1px 0px #919191;
    border-radius: 2px;
    text-decoration: none;
}

.p-btn1 {
    background-color: dodgerblue;
}

.p-btn2 {
    background-color: #004aff;
}
.section{
    border:1px solid #dedede;    
    border-radius:5px;
    margin-bottom:15px;
}