body {
}
.starStyle {
    text-decoration: none;
    color: #ffd100;
}

a {
    text-decoration: none;
    color: black
}

hr {
    color: #acacac;
}

.filter-nav {
}
.product-tile {
   background-color:white;
    max-height: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    transition:ease .1s, box-shadow .1s;
}
.tile-title {
    font-size: 17px;    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}