
.parent {
   justify-content:center;
}


.hello-user {
    border-radius: 5px;
    padding: 8px 0px;
    align-items: center;
}

    .NS64GK {    
    display: block;
    font-size: 14px;
    padding: 12px 0px 12px 66px;
    cursor: pointer;
    border-radius: 20px ;   
    margin-bottom:5px;
    transition: 0.1s;
}
        .NS64GK:hover {
            border-radius: 5px;
            background-color: white;
            box-shadow: inset rgb(0 0 0) 1px 2px 5px -5px;
        }


.active {
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: inset rgb(0 0 0) 1px 2px 5px -5px;
}
    
    ._15sjxS {
    padding: 10px 7px 9px 20px;
    display: flex;
    align-items: center; /* Center vertically */
}

.fa {
    margin-right: 5px; /* Add some space between the icon and text */
}

._3GARO3 {
    width: 20px;
    height: 20px;
}

a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

._3vaeIJ {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
}

i {
    color: dimgrey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.acdi211 {
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0px;
    border-radius: 5px;    
    border: 1px solid #eeeeee;
    background-color: white;
    box-shadow: inset 0px 0px 5px -5px;
}

