
.parent {
   justify-content:center;
}

.mynav {
    padding: 10px;
    border-radius: 20px;
    background-color: #f2f2f2;
}


.hello-user {
    text-align: start;   
    border-radius: 22px;
    padding: 8px;
}

    .NS64GK {    
    display: block;
    font-size: 14px;
    padding: 12px 0px 12px 66px;
    cursor: pointer;
    border-radius: 20px ;   
    margin-bottom:5px;
    transition: 0.3s;
}
        .NS64GK:hover {
            border-radius: 20px;
            background-color: #e6e6e6;
            box-shadow:  rgb(0 0 0) 1px 2px 11px -6px;
        }


.active {
    background-color: white;
    border-radius: 20px;
    color: black;
    box-shadow: inset rgb(0 0 0) 1px 2px 11px -6px;
}
    .active:hover {
        background-color: white;
        box-shadow: inset rgb(0 0 0) 1px 2px 11px -6px;
    }
    ._15sjxS {
    padding: 10px 7px 9px 20px;
    display: flex;
    align-items: center; /* Center vertically */
}
#targetResult {
    /*border: 1px solid #2458bd;*/
    border-radius: 20px;
    background-color: #f2f2f2;
}
.fa {
    margin-right: 5px; /* Add some space between the icon and text */
}

._3GARO3 {
    width: 20px;
    height: 20px;
}

a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

._3vaeIJ {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
}

i {
    color: dimgrey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.acdi211 {
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0px;
    border-radius: 20px;    
    border: none;
    background-color: white;
    box-shadow: inset 0px 0px 5px -2px;
}

