@model List<OnlineBikeStore.Models.OrderViewModel>

<table class="table  w-100">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total</th>            
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.order_id))
        {
            <tr onclick="window.location.href='@Url.Action("OrderDetailsAdmin", "Order", new { orderId = item.order_id })'" style="justify-content: space-between">
                <td>
                    @item.order_id
                </td>
                <td>
                    @item.order_date.ToString("D")
                </td>

                <td>
                    @switch (item.order_status)
                    {
                        case 0:
                            <h6>Order Placed</h6>
                            break;
                        case 1:
                            <h6>Order Shipped</h6>
                            break;
                        case 2:
                            <h6>Order Delivered</h6>
                            break;
                        case 3:
                            <h6>Order Cancelled</h6>
                            break;
                        case 4:
                            <h6>Order Returned</h6>
                            break;
                        default:
                            @:Unknown Status
                            break;
                    }

                </td>
                <td>
                    @item.total_price
                </td>             
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

