@model List<OnlineBikeStore.Models.OrderViewModel>
@{
    ViewBag.Title = "GetOrdersCustomer";
    Layout = null;
}

@if (Model.Count < 1)
{
    <div class="content-box">
        No Orders.
    </div>
}
else
{
    <div>
        <div class="p-2">
            <input type="text" class="form-control" placeholder="Search Order" id="searchOrderInput" />
        </div>
        <br />

        <div id="partialViewContainer">
            @Html.Partial("_GetOrdersCustomer")
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $("#searchOrderInput").on("input", function () {
            loadPartialView();
        });

        function loadPartialView() {
            var searchInput = $("#searchOrderInput").val();

            $.ajax({
                 url: '@Url.Action("GetOrdersPartial", "Order")',
                 type: 'GET',
                 data: { query: searchInput, orderStatus: null },
                 success: function (response) {
                     $('#partialViewContainer').html(response);
                 },
                 error: function () {
                     console.log('Error loading partial view.');
                 }
            });
        }

    })

</script>