
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .border{
        border:1px solid grey;
        border-radius:5px;
    }
</style>
@if (ViewBag.SuccessMessage != null)
{
    <div id="notification" class="notification">@ViewBag.SuccessMessage</div>    
}
<div class="row g-4 mb-4">
    <div class="col-6 col-lg-3 ">
        <div class=" shadow-sm h-100 border">
            <div class="p-3 p-lg-4">
                <h4 class="mb-1">Total Sales</h4>
                <div>$12,628</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-lg-3 ">
        <div class=" shadow-sm h-100 border">
            <div class="p-3 p-lg-4">
                <h4 class="mb-1">Order Delivered</h4>
                <div>$12,628</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 ">
        <div class=" shadow-sm h-100 border">
            <div class="p-3 p-lg-4">
                <h4 class="mb-1">Cancelled</h4>
                <div>$12,628</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 ">
        <div class=" shadow-sm h-100 border">
            <div class="p-3 p-lg-4">
                <h4 class="mb-1">Customers</h4>
                <div>$12,628</div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <canvas id="barChart"></canvas>
    </div>

    <div class="col-6" >
        <canvas id="pieChart"></canvas>
    </div>
</div>

<script>
    $(document).ready(function () {
        var ctx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'line', // Choose the type of chart (e.g., 'bar', 'line', 'pie', etc.)
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], // X-axis labels
                datasets: [{
                    label: '# of Votes', // Chart label
                    data: [12, 19, 3, 5, 2, 3], // Data points
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });

    $(document).ready(function () {
        var ctx = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctx, {
            type: 'pie', // Choose the type of chart (e.g., 'bar', 'line', 'pie', etc.)
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], // X-axis labels
                datasets: [{
                    label: '# of Votes', // Chart label
                    data: [12, 19, 3, 5, 2, 3], // Data points
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            //options: {
            //    scales: {
            //        y: {
            //            beginAtZero: true
            //        }
            //    }
            //}
        });
    });
</script>
